wadl/BanRest_1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:imp="http://claropr.com/2011/services/billing/v1" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="BanRest">BanRest</doc>
  <grammars>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://claropr.com/2011/services/billing/v1" xmlns:ns4="http://claropr.com/2011/services/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns2="http://io.datainfo.APILink.amdocs">
      <xs:import namespace="http://io.datainfo.APILink.amdocs" schemaLocation="Datainfo.xsd"/>
      <xs:import namespace="http://claropr.com/2011/services/v1" schemaLocation="BaseService.xsd"/>
      <!--Schema Types-->
      <!--T1. getBanDetails-->
      <xs:element name="getBanDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InGetBanDetailsInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBanDetailsResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutBanDetailsInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--<xs:element name="getBanDetails" type="imp:getBanDetailsRequest"/> 
				<xs:element name="getBanDetailsResponse" type="imp:getBanDetailsResponse"/> 
				<xs:complexType name="getBanDetailsRequest"> <xs:sequence> <xs:element name="in0" 
				type="ns2:InGetBanDetailsInfo"/> </xs:sequence> </xs:complexType> <xs:complexType 
				name="getBanDetailsResponse"> <xs:complexContent> <xs:extension base="ns4:BaseServiceResponseType"> 
				<xs:sequence> <xs:element name="Details" nillable="true" type="ns2:OutBanDetailsInfo"/> 
				</xs:sequence> </xs:extension> </xs:complexContent> </xs:complexType>-->
      <!--T2. banInNegativeFile Operation-->
      <xs:element name="banInNegativeFile">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InGetBanDetailsInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="banInNegativeFileResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutBanInNegativeFileInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T3. CreateBan Operation-->
      <xs:element name="createBan">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InCreateBanInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createBanResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutCreateBanInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T4. getLastCredit Operation-->
      <xs:element name="getLastCredit">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InGetLastCreditInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLastCreditResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutGetLastCreditInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T5. storeCreditEvaluation Operation-->
      <xs:element name="storeCreditEvaluation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InStoreCreditEvaluationInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="storeCreditEvaluationResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="xs:anyType"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T6. searchBanBySsn Operation-->
      <xs:element name="searchBanBySsn">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InSearchBanBySsnInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchBanBySsnResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutSearchBanListInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T7. searchBanBySubscriber Operation-->
      <xs:element name="searchBanBySubscriber">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InSearchBanBySubscriberInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchBanBySubscriberResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutSearchBanListInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T8. searchBanByTaxId Operation-->
      <xs:element name="searchBanByTaxId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InSearchBanByTaxIdInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchBanByTaxIdResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutSearchBanByTaxIdListInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T9. updateBan Operation-->
      <xs:element name="updateBan">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InUpdateBanInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateBanResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutUpdateBanInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T10. updateBanPricePlanSocs Operation-->
      <xs:element name="updateBanPricePlanSocs">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InUpdateBanPricePlanSocsInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateBanPricePlanSocsResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutUpdateBanPricePlanSocsInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T11. getBillingDetails Operation-->
      <xs:element name="getBillingDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InGetBillingDetailsInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBillingDetailsResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutGetBillingDetailsInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T12. createMemo Operation-->
      <xs:element name="createMemo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InCreateMemoInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createMemoResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutCreateMemoInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T13. BillReprint Operation-->
      <xs:element name="billReprint">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InBillReprintInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="billReprintResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutBillReprintInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T14. createCreditRequest Operation-->
      <xs:element name="createCreditRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InCreateCreditRequestInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createCreditRequestResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutCreateCreditRequestInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T15. createLetterRequest Operation-->
      <xs:element name="createLetterRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InCreateLetterRequestInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createLetterRequestResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutCreateLetterRequestInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T16. getBillCycleList Operation-->
      <xs:element name="getBillCycleList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InGetBillCycleListInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBillCycleListResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutGetBillCycleListInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T17. getBillingAddressBySsn Operation-->
      <xs:element name="getBillingAddressBySsn">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InSearchBanBySsnInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBillingAddressBySsnResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutGetBillingAddressBySsnInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T18. getCreditRequest Operation-->
      <xs:element name="getCreditRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InGetCreditRequestInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCreditRequestResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutGetCreditRequestInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T19. getDirectDebitInfo Operation-->
      <xs:element name="getDirectDebitInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InGetDirectDebitInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDirectDebitInfoResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutGetDirectDebitInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T20. getMemoList Operation-->
      <xs:element name="getMemoList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InGetMemoListInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMemoListResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutGetMemoListInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T21. openBan Operation-->
      <xs:element name="openBan">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InOpenBanInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="openBanResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutOpenBanInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T22. searchBanByName Operation-->
      <xs:element name="searchBanByName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InSearchBanByNameInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchBanByNameResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutSearchBanListInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T23. updateBillParameters Operation-->
      <xs:element name="updateBillParameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InUpdateBillParametersInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateBillParametersResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutUpdateBillParametersInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T24. updateDirectDebit Operation-->
      <xs:element name="updateDirectDebit">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InUpdateDirectDebitInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateDirectDebitResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutUpdateDirectDebitInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T25. storeIdentityCheck Operation-->
      <xs:element name="storeIdentityCheck">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InStoreIdentityCheckInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="storeIdentityCheckResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T26. getBanCreditLimitBal Operation-->
      <xs:element name="getBanCreditLimitBal">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InGetBanCreditLimitBalInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBanCreditLimitBalResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutGetBanCreditLimitBalInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--T26. cancelClaroUp Operation-->
      <xs:element name="cancelClaroUp">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InGetCancelClaroUpInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cancelClaroUpResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutGetCancelClaroUpInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--===================================================================================================-->
      <!--========================================== TYPES ==================================================-->
      <!--===================================================================================================-->
    </xs:schema>
  </grammars>
  <resources>
    <resource path="/updateBan">
      <method name="PUT" soa:wsdlOperation="updateBan">
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response status="200">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
  </resources>
</application>