wadl/BanRest_1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:imp="http://claropr.com/2011/services/billing/v1" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="BanRest">BanRest</doc>
  <grammars>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://claropr.com/2011/services/billing/v1" xmlns:ns4="http://claropr.com/2011/services/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns2="http://io.datainfo.APILink.amdocs">
      <xs:import namespace="http://io.datainfo.APILink.amdocs" schemaLocation="Datainfo.xsd"/>
      <xs:import namespace="http://claropr.com/2011/services/v1" schemaLocation="BaseService.xsd"/>
    
      <!--T9. updateBan Operation-->
      <xs:element name="updateBan">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="in0" type="ns2:InUpdateBanInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateBanResponse">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns4:BaseServiceResponseType">
              <xs:sequence>
                <xs:element name="Details" nillable="true" type="ns2:OutUpdateBanInfo"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--===================================================================================================-->
      <!--========================================== TYPES ==================================================-->
      <!--===================================================================================================-->
    </xs:schema>
  </grammars>
  <resources>
    <resource path="/updateBan">
      <method name="PUT" soa:wsdlOperation="updateBan">
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response status="200">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
  </resources>
</application>
